.journal
  display: flex
  &__sidebar
    background-color: $dark-grey
    color: $white
    height: 100vh
    padding: 1rem
    width: 450px
    display: flex
    flex-direction: column
    &__container
      display: flex
      justify-content: space-between
      align-items: center
    &__account
      font-size: 1.5rem
      margin: 0
      & span
        margin-left: 1rem
    &__logout
      font-size: 1.25rem
      margin: 0
    &__calendar
      margin-top: 3rem
      cursor: pointer
      text-align: center
  &__entries
    list-style-type: none
    padding: 0
    margin: 0
    overflow-y: scroll
  &__entry
    display: flex
    background-color: $white
    margin-bottom: 1rem
    border: 1px solid $white
    border-radius: 5px
    overflow: hidden
    &__picture
      flex: 1
    &__body
      color: $dark-grey
      flex: 3
      padding: 1rem
